@import '~normalize.css';
@import "utils/styles/reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url('./assets/fonts/Inter/Inter-Regular.ttf') format('truetype'),
        url('./assets/fonts/Inter/Inter-Medium.ttf') format('truetype'),
        url('./assets/fonts/Inter/Inter-SemiBold.ttf') format('truetype'),
        url('./assets/fonts/Inter/Inter-Bold.ttf') format('truetype'),
        url('./assets/fonts/Inter/Inter-Black.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
    }
}

body {
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.baseContainer {
    height: 100vh;
    overflow: auto;
    width: 100% !important;
}

.homeContainer {
    background: url("assets/images/pexels-alfonso-escalante-2832251.jpg") no-repeat center;
    background-size: cover;
}

.svg-red {
    fill: #d84343;
    & path {
        stroke: #d84343;
    }
}


.svg-grey {
    fill: none;
    & path {
        stroke: #475467;
    }
}
